<section id="volunteers" class="section" aria-labelledby="volunteers-title">
  <div class="section-inner">
    <p class="section-label">Volunteers</p>
    <h2 id="volunteers-title" class="section-heading">Get Involved</h2>
    <div class="section-divider"></div>
    <p class="volunteers-callout">Call for volunteers: our workshop aims to serve the needs of the community, and be community-driven. If you are interested in volunteering, please contact us. We expect that we will benefit from help in reviewing papers, setting up and managing the challenge, etc.</p>
    <p class="volunteers-summary">Interested in volunteering? <a href="https://docs.google.com/forms/d/e/1FAIpQLSe66Q-8qJ_pyt0q1O5Po8zJYkksVUVymtFzkxd6aKFYW43oTA/viewform?usp=publish-editor" target="_blank" rel="noopener">Sign up here</a>.</p>
  </div>
</section>
